body {
  background: url("../img/hojas.jpg");
  background-attachment: fixed; /*Para hacer que la imagen siempre se este mostrando y no se corte */
}

#logo {
  background: #235e3d;
}

/* Efecto hover (al pasar por encima */
#menu ul li:hover {
  background: #235e3d;
}

.button-more {
  background: #235e3d;
}
